services:
  hrplatform-postgresql:
    container_name: "hrplatform-postgresql"
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    restart: always
    volumes:
      - postgresql-volume:/var/lib/postgresql/data
  
volumes:
  postgresql-volume: